      <img class="hangman-image" alt="Hangman by Hea Poh Lin from the Noun Project" src='/hangman.svg' />
      <p class="first-load-paragraph">
        The secret word is <%= word %>.
      </p>
      <p class="first-load-paragraph">
        <%= key %>
      </p>
      <form method="POST" action="/guess">
        Guess a letter in the secret word: <br>
        <input type="text" name="guess"> <br>
        <input type="submit" value="submit">
      </form>

   