<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hang Sinatra</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Metal+Mania|Nunito|Roboto+Condensed&display=swap" rel="stylesheet">
<!--     <script src="script.js"></script> -->
  </head>
  <style></style>
  <div class="app-container">  
  <body class="body">
    <header>
      <h1 class="title">
        Hang Sinatra!
      </h1>
    </header>
    <nav class="navbar">
      <ul class="navbar">
        <li class="navbar__list-item"><a href="save" class="navbar__link">Save Game</a></li>
        <li class="navbar__list-item"><a href="load" class="navbar__link">Load Game</a></li>
        <li class="navbar__list-item"><a href="forfeit" class="navbar__link">Forfeit Game</a></li>
      </ul>
    </nav>
    <main>
      <%= yield %>
    </main>
    </div>
    <footer class="footer">
      <p class="footer__paragraph">
        This is an implementation of the hangman game with a Sinatra backend.
      </p>
      <p class="footer__paragraph">
        It is an assignment from the <a href="http://theodinproject.com">Odin Project</a>
      </p>
      <p class="footer__paragraph">
        The author is <a href="http://aaronkai.github.io">Aaron Hubbard</a>
      </p>
    </footer>
  </body>
</html>