html {
  height: 100%;
}

.body{
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  background: black;
  margin: 0px;
}

.app-container{
  flex: 1 0 auto;
}

.title {
  font-family: 'Metal Mania', cursive;
  font-size: 14vw;
  color: white;
  text-align: center;
  margin: 0px;
}

.navbar {
  display: flex;
  padding: 0px; 
  justify-content: center;
  margin-bottom: 3vh;
}

.navbar__list-item {
  padding: 0 .5em;
}

.navbar__link{
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 3vw; 
  color: white
}

.navbar__link:hover{
  color: salmon;
}

.hangman-image{
  filter: invert(1);
  max-height: 300px;
}

.key {
  font-size: 3vw;
  text-align: center;
}

.controls{
  display: flex;
  height 200px;
  justify-content: center;
}

.controls__item{
  background: grey;
  margin: 10px;
  font-size: 3vh;
  padding: 1vw;
}

.controls__item{
  color: white;
  padding: 1vh;
}

.controls__form{
  color: white;
  padding: 1vh;
}

.app-container__paragraph{
  color:white
}

.app-container__paragraph__hidden{
  color: black;
}

.controls__form{
  padding: 1vh 0;
}

.footer{
  flex: none;
  background-color: grey;
  align-self: stretch;
}

.footer__paragraph{
  font-family: 'Nunito', sans-serif;
  color: white;
  margin: 0px;
}